<h1 mat-dialog-title>Stock toevoegen voor <span class="price font-weight-bold">{{data.name}}</span></h1>
<div mat-dialog-content>
  <form #productForm="ngForm">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width " appearance="fill">
        <mat-label>Winkel</mat-label>
        <input matInput type="text" name="storeName" [(ngModel)]="store.storeName" required>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="example-full-width " appearance="fill">
        <mat-label>Stock</mat-label>
        <input matInput type="number" name="stock" [(ngModel)]="store.stock" required>
      </mat-form-field>
    </div>
  </div>
</form>
</div>

<div mat-dialog-actions>
  <button mat-button cdkFocusInitial style="display: none;"></button>
  <button type="submit" mat-raised-button (click)="onNoClick()" class="editButton">Annuleer</button>
  <button type="submit" mat-raised-button class="addButton"  [disabled]="!productForm.valid" (click)="addStore()">Bevestig</button>
</div>