<h1 mat-dialog-title>Verwijder artikel <span class="notAvailable font-weight-bold">{{data.articleNumber}}</span></h1>
<div mat-dialog-content>
  <span>Ben je zeker dat je product <span class="notAvailable font-weight-bold">{{data.name}}</span> en al zijn stock wil verwijderen?</span>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial style="display: none;"></button>
  <button type="submit" mat-raised-button (click)="onNoClick()" class="editButton">Annuleer</button>
  <button type="submit" mat-raised-button class="deleteButton" (click)="deleteProduct()">Verwijder</button>
</div>