.profile-card{
    margin-top: 15vh !important;
    max-width: 35vw;
    margin: 0 auto;
}

.profile-mat-card{
    margin-top: 10%;
    padding: 7%;
    background-color: #fcfcfc;
    border-radius: 15px;
}
