<div *ngIf="spinner">
  <mat-spinner diameter="130"></mat-spinner>
</div>

<div  *ngIf="!spinner" class="profile-card">
    <mat-card class="profile-mat-card mat-elevation-z6">
      <mat-card-title>
        Welkom bij meubelcatalogus IKEA België!
      </mat-card-title>
      <mat-card-subtitle>
        Kies hier een vestiging
      </mat-card-subtitle>
      <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Winkels</mat-label>
            <mat-select (selectionChange)="submitStore($event)">
                <mat-option *ngFor="let store of stores" value="{{store.storeName}}">
                    {{store.storeName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>