<div *ngIf="spinner">
  <mat-spinner diameter="130"></mat-spinner>
</div>


<div *ngIf="!spinner" class="content">
  <div id="main">

    <h1>
      <mat-divider></mat-divider>
      Producten
      <mat-icon color="accent" class="icon-display">arrow_right</mat-icon> <span>Overzicht</span>
      <mat-divider></mat-divider>
    </h1>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>
              Filters
            </h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Categorieën</mat-label>
              <mat-select [(value)]="selectedCategory" (selectionChange)="submitCategory($event)">
                <mat-option value="alle">
                  Alle
                </mat-option>
                <mat-option *ngFor="let category of categories" value="{{category}}">
                  {{category}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <mat-form-field class="filter-full-width" appearance="fill">
              <mat-label>Zoeken</mat-label>
              <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="table-wrapper mat-elevation-z6">
      <mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Naam </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="articleNumber">
          <mat-header-cell *matHeaderCellDef> Artikelnummer </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.articleNumber}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef> Categorie </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.category}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Prijs </mat-header-cell>
          <mat-cell *matCellDef="let product"> €{{product.price}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="stock">
          <mat-header-cell *matHeaderCellDef> Stockbeheer </mat-header-cell>
          <mat-cell *matCellDef="let product">
            <a routerLink="/admin/{{product.articleNumber}}/overview/stock">
              <mat-icon class="editIcon" data-toggle="modal">rule_folder</mat-icon>
            </a>
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="acties">
          <mat-header-cell class="mat-cell-right" *matHeaderCellDef>
            <a routerLink="/admin/add/product">
              <mat-icon class="addIcon" data-toggle="modal">add_circle</mat-icon>
            </a>
          </mat-header-cell>
          <mat-cell class="mat-cell-right" *matCellDef="let product">
            <a routerLink="/admin/edit/product/{{product.articleNumber}}">
              <mat-icon class="editIcon" data-toggle="modal">create</mat-icon>
            </a>
            <mat-icon class="deleteIcon" data-toggle="modal"
              (click)="deleteDialog(product.articleNumber, product.name)">remove_circle</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

    </div>
  </div>
</div>