<!-- Dit is de hoofd / slimme component van de feature, noemen we dus een "page" component -->
<!-- Afhankelijk van de main route (bv /containers) wordt een page component ingeladen. Deze bevat amper html en altijd een router-outlet -->
<!-- Afhankelijk van de child routes (bv /overview of /{id}) wordt een child component ingeladen of een dialog / modal weergegeven -->
<p>
    header
</p>

<div *ngFor="let store of stores">

    <a routerLink="overview/products/store/{{store.storeName}}">
        {{store.storeName}}
    </a>
</div>



<router-outlet></router-outlet>