<div *ngIf="spinner">
  <mat-spinner diameter="130"></mat-spinner>
</div>

<div  *ngIf="!spinner" class="content detail">
  <div id="main">

    <div *ngIf="spinner == false">



        <h1>
          <mat-divider></mat-divider>
          Details
          <mat-icon color="accent" class="icon-display">arrow_right</mat-icon> 
          <span>{{product.category}}</span>
           <mat-icon color="accent" class="icon-display">arrow_right</mat-icon>
          {{product.name}}
          <mat-divider></mat-divider>
        </h1>


        <div class="row detailPage">
          <div class="col-5 justify-content-center">
            <img
              src="{{product.image}}"
              alt="" class="shadow">

              <div class="description">
                <p class="font-weight-bold">
                  Omschrijving product
                </p>
                <p>
                  {{product.description}}
                </p>
              </div>
          </div>
          <div class="col-7">
            <h2>
             €{{product.price}}
            </h2>
            <p class="font-weight-light">
              Artikelnummer: {{product.articleNumber}}
            </p>
            <mat-divider></mat-divider>
            <p class="font-weight-bold">
              Afmetingen
            </p>
            <p>
              {{product.size}}
            </p>
            <mat-divider></mat-divider>

            <p class="font-weight-bold">
              Product informatie
            </p>

            <ngb-accordion #acc="ngbAccordion">
              <ngb-panel id="toggle-1" class="accordion-title" title="Materiaal & onderhoud">
                <ng-template ngbPanelContent>
                  <p class="font-weight-bold">
                    Materiaal
                  </p>
                  <p>
                    {{product.material}}
                  </p>
                  <p class="font-weight-bold">
                    Onderhoud
                  </p>
                  <p>
                    {{product.maintenance}}
                  </p>
                </ng-template>
              </ngb-panel>  
            </ngb-accordion>

            <ngb-accordion #acc="ngbAccordion">
              <ngb-panel id="toggle-1" title="Duurzaamheid & milieu">
                <ng-template ngbPanelContent>
                  <p class="font-weight-bold">
                    Duurzaamheid
                  </p>
                  <p>
                    {{product.environment}}
                  </p>
                </ng-template>
              </ngb-panel>  
            </ngb-accordion>

            <mat-divider></mat-divider>

            <p class="font-weight-bold" *ngIf="product.delivery">
              <span class="price">Beschikbaar voor levering</span>
             </p>
             <p class="font-weight-bold" *ngIf="!product.delivery">
               <span class="notAvailable">Niet beschikbaar voor levering</span>
             </p>

            <ngb-accordion #acc="ngbAccordion">
              <ngb-panel id="toggle-1" class="accordion-title" title="Check de voorraad in de winkels">
                <ng-template ngbPanelContent>
                  <div *ngIf="stores.length <1">
                    <span class="notAvailable">Niet beschibaar in onze winkels</span>
                  </div>
                  <div *ngFor="let store of stores">  
                    <p class="font-weight-bold">
                      {{store.storeName}} - {{store.stock}} stuks
                    </p>
                  
                   <p *ngIf="store.stock <1">
                    <span class="notAvailable">Niet voorradig</span>
                   </p>
                   <p *ngIf="store.stock >1 && store.stock <50">
                    <span class="littleStock">Weinig voorradig</span>
                   </p>
                   <p *ngIf="store.stock >=50">
                    <span class="price">Op voorraad</span>
                   </p>
                  </div>
                </ng-template>
              </ngb-panel>  
            </ngb-accordion>

          </div>
        </div>