<div class="content">
    <div id="main">

        <h1>
            <mat-divider></mat-divider>
            {{store.storeName}} <mat-icon color="accent" class="icon-display">arrow_right</mat-icon>
            <span>Details</span>
            <mat-divider></mat-divider>
        </h1>

        <div *ngFor="let product of categoryProducts">

            {{product.articleNumber}}


            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </form>
        </div>
    </div>
</div>