.profile-card{
    margin-top: 15vh !important;
    max-width: 35vw;
    margin: 0 auto;
}

.profile-mat-card{
    margin-top: 10%;
    padding: 7%;
    background-color: #fcfcfc;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
}

