@import "./variables";

h1{
    font-size: 1.5rem !important;
}

h1 span {
    font-size: 1.5rem !important;
    color: $accentColor;
}

h1 .mat-icon{
    transform: scale(2);
    margin-right: 10px;
    vertical-align: middle;
}

.main{
    text-align: center !important;
}