$primaryColor: #6200EE;
$indigo: #3F51B5;
$accentColor: #FF4081;
$white: whitesmoke;
$tableHover: #efefef;

//Knoppen
$addColor: #28A745;
$addColorHover: #19692C;
$editColor: #FFC107;
$editColorHover: #E8B007;
$deleteColor: #FF3535;
$deleteColorHover: #CF2B2B;
$detailColor: #5B56EE;
$detailColorHover: #0A066B;
$copyColor: #DB46F0;
$copyColorHover: #AE17EF;